<launch>

        <include file="$(find garden_protector)/launch/target_scan_server.launch"/>
	<include file="$(find garden_protector)/launch/camera_publisher.launch"/>
	
	<param  name="robot_mode"
                type="int"
                value="1"/>

        <param  name="turn_rate"
                type="double"
                value=".1"/>
	
	<param 	name="turn_percent"
		type="double"
		value=".4"/>	
	
	<param 	name="watch_interval"
		type="int"
		value="5"/>

        <param  name="robot_adjustment_level"
                type="double"
                value=".1"/>

        <param  name="img_offset_percentage"
                type="double"
                value=".07"/>
	
	<node   pkg="garden_protector"
                type="main.py"
                name="active_detection_node"
                output="screen"/>


</launch>

