<launch>	

	<include file="$(find garden_protector)/launch/target_scan_server.launch"/>	

	<param 	name="/robot_mode"
		type="int"
		value="1"/>
	
	<param 	name="/turn_rate"
		type="double"
		value="0.1"/>	
	
	<param 	name="/turn_percent"
		type="double"
		value="0.1"/>	
	
	<node 	pkg="garden_protector"
		type="test_active_detection.py"
		name="test_active_detection_test_node"
		output="screen"/>

</launch>
