<launch>
	<param 	name="/camera_publish_rate"
		type="double"
		value="30"/>
	<node 	pkg="garden_protector"
		type="camera_feed_pub.py"
		name="camera_pub_node"
		output="screen"/>
	<node	pkg="garden_protector"
		type="camera_sub_check.py"
		name="camera_sub_test_node"
		output="screen"/>
</launch>
